<configuration debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern><![CDATA[MID:%mdc{ID_MEGA} %-5p [%logger{0}:%M:%L] %message%throwable%n]]></pattern>
        </encoder>
    </appender>

    <logger name="debugger" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>